<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>YOYO web apps are so cool</h1>
  </div>

  <p id="demo">
    This is me testing out a lil html file
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it, honey!
  </button>

  <div id="doge-image"/>
  
 <form action="/action_page.php">
    Post Title:<br>
    <input type="text" id="post-title"><br>
    Post Body:<br>
    <input type="text" id="post-body"><br><br>
    <button class="btn btn-default" type="button" onclick="handleMessageFormSubmit()">
      Save it
    </button>
    <button class="btn btn-default" type="button" id:"login-button" onclick="toggleSignIn()">
      Log in 
    </button>
  </form>
</body>

</html>